$footer-clr: #7b7b7b;

@mixin fontz($fz, $c, $lh){
  font-size: $fz;
  color: $c;
  line-height: $lh;
}

%rubik-400{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%poppins-700{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

%DMSans-400{
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

%DMSans-500{
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
}

%DMSans-700{
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}
