$footer-clr: #7b7b7b;

@mixin fontz($fz, $c, $lh){
  font-size: $fz;
  color: $c;
  line-height: $lh;
}

%btn{
  border: none;
  background-color: transparent;
  padding: 0;
  @include fontz(16px, #8b8b8b, 1);
  @extend %DMSans-700;
  cursor: pointer;
}

%buttons{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}


%info-img{
  content: '';
  position: absolute;
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  top: 50px;
}

%rubik-400{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%poppins-700{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

%DMSans-400{
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

%DMSans-500{
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
}

%DMSans-700{
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}
