@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header__inner{
  padding: 50px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 25px;
  }
  &__list-link{
    @include fontz(15px, #436372, 12px);
    @extend %rubik-500;
  }
}

.user-nav{
  display: flex;
  &__img-search{
    margin: 19px 0 0 18px;
  }
  &__link-search{
    background-color: #edf1f4;   
    margin-right: 20px;
  }
  &__link-user{
    background-color: #a3bbc8;
    margin-left: 20px;
  }
  &__img-user{
    margin-left: 15px;
    margin-top: 15px;
  }
  &__link-heart,
  &__link-cart{
    position: relative;
  }
  &__link-user,
  &__link-search{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  &__link-heart::before{
    content: '';
    background-color: #fde7d3;
    position: absolute;
    height: 28px;
    width: 1px;
    right: -38px;
  }
  &__inner{
    background-color: #fcd7b6;
    height: 50px;
    width: 175px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    position: relative;
  }
  &__img-heart,
  &__img-cart{
    margin-top: 5px;
  }
  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    @include fontz(10px, #243f4d, 18px);
    @extend %DMSans-400;
    text-align: center;
    top: -3px;
    right: -10px;
  }
}

.footer-top{
  display: flex;
  padding: 70px 0 90px;
  border-bottom: 1px solid #dae4e9;
  &__item-adress{
    max-width: 200px;
    margin-right: 90px;
  }
  
  &__item-account{
    width: 180px;
    margin-right: 150px;
  }
  &__item-nav{
    width: 100px;
    margin-right: 150px;
  }
  &__title{
    @include fontz(16px, #1f2044, 21px);
    @extend %DMSans-700;
    text-transform: uppercase;
    padding-top: 10px;
  }
  &__list,
  &__text{
    margin-top: 30px;
  }
  &__list-item{
    margin-bottom: 17px;
  }
  &__logo{
    margin-bottom: 20px;
    display: inline-block;
  }
  &__link,
  &__adress,
  &__phone,
  &__email,
  &__text{
    @include fontz(14px, #7b7b7b, 1);
    display: block;
  }
  &__item-adress a{
    margin-bottom: 20px;
  }
  &__form{
    margin-top: 35px;
  }
  &__form-inp{
    border: none;
    background-color: #fef7f0;
    padding: 12px 10px 12px 15px;
    width: 170px;
    &::placeholder{
      @include fontz(12px, #234969, 1);
      @extend %DMSans-400;
    }
  }
  &__form-btn{
    border: none;
    padding: 11px 16px;
    background-color: #a3bbc8;
    cursor: pointer;
    @extend %DMSans-400;
    @include fontz(14px, #fff, 21px);
  }
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  @include fontz(14px, #7b7b7b, 1);
  &__link span{
    margin: 0 13px;
  }
  &__link{
    @include fontz(14px, #7b7b7b, 1);
  }
}

.slider{
  margin-bottom: 60px;
  &__inner{
    background-color: #fcd7b6;
  }
  &__item{
    display: flex !important;
    justify-content: space-between;
    margin-top: 100px;
  }
  &__content{
    margin-top: 120px;
    padding-left: 280px;
  }
  &__img{
    padding-right: 180px;
  }
  &__title{
    @include fontz(72px, #243f4d, 70px);
    @extend %rubik-500;
    margin-bottom: 30px;
  }
  &__text{
    @include fontz(18px, #436372, 30px);
    max-width: 370px;
    margin-bottom: 30px;
    @extend %rubik-400;
  }
  &__link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 60px;
    background-color: #a3bbc8;
    span{
      @include fontz(15px, #fff, 12px);
    }
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 45px;
    li{
      padding: 0 10px;
      button{
        @include fontz(10px, #243f4d, 8px);
        @extend %rubik-500;
        border: none;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        background-color: #fde3cc;
        cursor: pointer;
      }
      &.slick-active{
        button{
        background-color: #fff;
        }
      }
    }
  }
  .info{
    &__items{
      display: flex;
      justify-content: space-between;
      background-color: #fef7f0;
    }
    &__item{
      width: 570px;
      padding: 45px 150px;
      position: relative;
      &:not(:last-child){
        border-right: 1px solid #e8e4df;
      } 
    }
    &__item-support{
      padding-left: 220px;
    }
    &__item-support::before{
      @extend %info-img;
      background-image: url('../images/slider/info/support.svg');
      left: 140px; 
    }
    &__item-payment::before{
      @extend %info-img;
      background-image: url('../images/slider/info/payment.svg');
      left: 70px;  
    }
    &__item-delivery::before{
      @extend %info-img;
      background-image: url('../images/slider/info/delivery.svg');
      left: 75px;
    }
    &__item-title{
      @include fontz(18px, #414141, 26px);
      margin-bottom: 10px;
      @extend %DMSans-700;
    }
    &__item-text{
      span{
        display: block;
        margin-top: 10px;
      }
    }
  }
}

.products-gallery{
  padding-bottom: 180px;  
  &__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 10px;
    position: relative;
    &:hover .products-gallery__item-btn{
      opacity: 1;
    }
  }
  &__item-link{
    padding-top: 30px;
  }
  &__item-title{
    @include fontz(16px, #243f4d, 1);
    @extend %DMSans-500;
    padding-top: 78px;
    margin-bottom: 15px;
  }
  &__item-price{
    display: block;
    @include fontz(16px, #a3bbc8, 1);
    @extend %DMSans-700;
    padding-bottom: 40px;
  }
  &__item-buttons{
    position: absolute;
    bottom: 160px;
  }
  &__item-btn{
    opacity: 0;
    border: none;
    margin: 0 15px;
    transition: all .3s;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    font-size: 0;
    line-height: 0;
    cursor: pointer;
  }
  &__item-btn-cart{
    background-color: #a3bbc8;
  }
}
.product-btn{
  @extend %btn;
  & + .product-btn{
    margin-left: 27px;
  }
}
.mixitup-control-active{
  @include fontz(16px, #000, 1);
}

.offer{
  padding-bottom: 100px;
  &__inner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  &__item{
    padding: 100px 0;
    max-width: 870px;
    width: 100%;
    margin: 0 auto;
    background-color: #feefe2;
    position: relative;
  }
  &__item-right::before,
  &__item-left::before{
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    top: -85px;
    left: 140px;
    width: 230px;
    min-height: 410px;
  }
  &__item-left::before{
    background-image: url('../images/offer-item1.png');
  }
  &__item-right::before{
    content: '';
    background-image: url('../images/offer-item2.png');
  }
  &__content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 140px;
  }
  &__title{
    padding-bottom: 30px;
    @include fontz(26px, #243f4d, 32px);
    @extend %DMSans-700;
    width: 330px;
  }
  &__btn{
    width: 330px;
  }
  &__desc{
    padding-bottom: 35px;
    @include fontz(16px, #243f4d, 30px);
    max-width: 330px;
  }
  &__link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 60px;
    border: 1px solid #b3b7b5;
    background-color: transparent;
    border-radius: 5px;
    span{
      @include fontz(15px, #243f4d, 12px);
      @extend %rubik-500;
    }
  }
}

.design-btn{
  @extend %btn;
  & + .design-btn{
    margin-left: 27px;
  }
}

.design{
  padding-bottom: 120px;
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  &__item{
    display: block;
    background-repeat: no-repeat;
    min-height: 245px;
    max-width: 370px;
  }
  &__content{
    padding-top: 40px;
    padding-left: 35px;
  }
  &__title{
    @include fontz(20px, #000, 1);
    @extend %DMSans-700;
    margin-bottom: 18px;
    max-width: 180px;
  }
  &__style{
    @include fontz(16px, #a3bbc8, 1);
  }
}

@import 'media';

